<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
<style>
.page-title{font-family: monospace;}
body{text-align: center;}
.buttons{padding: 10px;border-radius:10px; background-color:#ddd;text-decoration: none;}
.buttons:hover{background-color: blue;color:white;}
nav {
    padding:10px;
    background-color: #ccc;
    width: 50%;
    margin: auto;
}


nav a{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
}
nav a:hover{color:white;}
li{list-style: none;}
</style>
</head>
<body>
<header>
  <% include partials/_header %>
  <% include partials/nav %>
</header>
  <h1> HEY YOU'RE DOING IT</h1>
<p> This is REid's stuffffff</p>
</body>
</html>