<html lang="en">
<head>
  <title>TinyApp</title>
<style>
body{text-align: center;}
.buttons{padding: 10px;border-radius:10px; background-color:#ddd;text-decoration: none;}
.buttons:hover{background-color: blue;color:white;}
nav {
    padding:10px;
    background-color: #ccc;
    width: 50%;
    margin: auto;
}
nav a{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
}
nav a:hover{color:white;}
li{list-style: none;}
</style>
</head>
<body style="width:84%; margin :auto;text-align :center";>
  <header>
<% include partials/_header %>
<% include partials/nav %>
  </header>

  <section>
  <%= 'long form of url :' + urls[shortURL] %><br/>
  <%= 'short URL is : ' + shortURL %>

</section>
</body>
</html>