<html lang="en">
<head>
  <title>TinyApp</title>
<style>
.page-title{font-family: monospace;}

body{
  text-align: center;
  font-family: monospace;
}
.buttons{
  padding: 10px;
  border-radius:10px;
  background-color:#ddd;
  text-decoration: none;
}
.buttons:hover{
  background-color: blue;
  color:white;
}
nav {
    padding:10px;
    background-color: #ccc;
    width: 50%;
    margin: auto;
}
header form{padding: 30px 0 30px;
             display: inline-block;}
.space{padding:30px;}
nav a{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
}
nav a:hover{color:white;}
li{list-style: none;}
</style>
</head>
<body style="width:84%; margin :auto;text-align :center";>
  <header>
<% include partials/_header %>
<% include partials/nav %>
  </header>

  <section>
  <%= 'long form of url :' + urls[shortURL].longUrl %><br/>
  <%= 'short URL is : ' + shortURL %>

  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label>short URL: <%= shortURL %> </label><br/>
      <input id="longURL" type="text" name="longURL" placeholder="Enter new URL" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
</section>
</body>
</html>